<link rel="stylesheet" href="/css/header.css">
<header>
    <h2 id="Heading"><a href="/" style="text-decoration: none; color: inherit; letter-spacing: 1px;">👋 SOCIAL 🤝</a></h2>
    <ul class="nav nav-pills">
        <%if(locals.user){%>
            <li class="nav-item">
                <a class="nav-link active"  href="/users/profile"><%= locals.user.name %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/users/destroy-session">Sign Out</a>
            </li>
            <%}%>
            <%if(!locals.user){%>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/signIn">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/signUp">Sign Up</a>
                </li>
            <%}%>
        
    </ul>

</header>