<link rel="stylesheet" href="/css/home.css">
<h1 class="title is-1">👋  Social/<%= title %> 🤝</h1>

<section id="main-container">
    <!-- ----------------------------------------------left----------------------------------------------------------------------------- -->
    <section id="section1">
        <%if(locals.user){%>
            <article class="panel is-danger" id="friendsContainer">
                <p class="panel-heading">
                    Friends
                </p>
            
                <%for(aUser of allUser){%>
                    <%if(aUser.id != user.id){%>
                        
                        <a class="panel-block is-active" href="/users/profile/<%= aUser.id %>">👤 <%= aUser.name %></a>
                    
                    <%}%>
                <%}%>
    
            </article>
            <%}%>
    </section>
    <!-- ----------------------------------------------left----------------------------------------------------------------------------- -->


    <!-- ----------------------------------------------Middle----------------------------------------------------------------------------- -->
    <section id="feed-posts" >
        <article class="panel is-primary" style="width: 100%;">
            <h4 class="panel-heading">Write A Posts ✍️</h4>
            <div class="panel-block">
                <form action="/post/create" id="new-post-form" method="post">
                    <div class="input-group" style="margin-top: 3%;">
                        <span class="input-group-text" style="max-width: 19%;">Enter <br>A <br> Post</span>
                        <textarea class="form-control" aria-label="With textarea" name="content" cols="30" rows="3" placeholder="..."></textarea>
                        <%if(locals.user){%>
                            <button class="btn btn-outline-secondary" type="submit"> Post✌️ </button>
                        <%}%>
                        <script>
                            let a=()=>alert('Please Logoin to Post a Post')
                        </script>
                        <%if(!locals.user){%>
                            <button class="btn btn-outline-secondary" type="button" onclick="a()" > Post✌️ </button>
                        <%}%>
                    </div>
                </form>
            </div>
                <!-- ----------------------------------------------Post_Input_form----------------------------------------------------------------------------- -->
                <!-- ----------------------------------------------Post_View----------------------------------------------------------------------------- -->
            </article>
            
            <article class="panel is-warning" style="width: 100%;">
        
                <h4 class="panel-heading">Brouse Posts 👀 </h4>
                <div id="posts-display-container">
                        <%for(i of posts){%>
                            <%- include('_post') -%>
                        <%}%>
                </div>
            </article>
        </section>
    <!-- ----------------------------------------------Middle----------------------------------------------------------------------------- -->

    <!-- ----------------------------------------------Right----------------------------------------------------------------------------- -->
    <section id="section2">

    </section>
    <!-- ----------------------------------------------Right----------------------------------------------------------------------------- -->

</section>