<link rel="stylesheet" href="/css/user_profile.css">
<%if(user.id == foundUser.id){%>
    <h1>MY INFO</h1>
    <form action="">
        <input type="email" name="email" value="<%= foundUser.email%>">
        <input type="text" name="name" id="" value="<%= foundUser.name%>">
        <input type="submit" name="" id="">
    </form>
<%}%>
<%if(user.id != foundUser.id){%>
    <h1>User Info</h1>
    <h1><%= foundUser.email%></h1>
    <h1><%= foundUser.name%></foundUser.name></h1>    
<%}%>