<h1>SignIn</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" required placeholder="your email">
    <input type="password" name="password" required placeholder="password">
    <input type="submit" value="Sign in">
</form> 