<h1>Sign Up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="your name">
    <input type="email" name="email" required placeholder="your email">
    <input type="password" name="password" required placeholder="password">
    <input type="password" name="conferm_password" required placeholder="conferm password">
    <input type="submit" value="Sign Up">
</form> 