header{
   width: 100vw;
   padding: 20px;
   /* border-top: 10px solid black; */
   margin-bottom: 3px;
   /* border-bottom: 0.3px solid black; */
}
ul{
    display: flex;
}
li{
    padding-left: 20px;
}
#Heading{
    padding-left: 0px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    font-size: larger;
    margin-right: 68%;
    margin-left: 2%;
    width: 10%;
    text-align: center;
    font-weight: 900;
}