h1{
    text-align: center;
    margin-top: 1vh;
}
form{
    padding-bottom: 30px;
    border-bottom: 2px dotted #777;
}
#main-container{
    width: 90%;
    min-height: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
#section1{
    width: 15%;
    /* border-right: 2px solid red; */
}
#section2{
    width: 15%;
    /* border-left: 2px solid red; */
}
#new-post-form{
    width: 80%;
}
#feed-posts{
    /* border: 2px solid red; */
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}
#posts-display-container{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#posts-display-container #card-body-container{
    display: flex;
    margin-top: 20px;    
}

#comments-container{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    min-height: 20vh;
}

#comments-body{
    /* border: 2px solid red; */
    text-align: left;
    width: 100%;
    overflow: scroll;
    text-indent: 1px;
    font-family: sans-serif,Helvetica, Arial, sans-serif;
}

#comments-writer{
    text-align: left;
    margin-bottom: 7%;
    font-size: small;
    font-family: sans-serif;
    font-weight: 800;
    color: #777;
    /* text-decoration: underline; */
    /* border: 2px solid blueviolet; */
    width: 100%;
    display: flex;
}

#avtar-post{
    height: 40px;
    width: 40px;
    background-color: #777;
    border-radius: 50%;
    margin-right: 3%;

}

#writers-name{
    font-weight: 100;
    font-size: 17px;
}

#avtar-post img{
    height: 40px;
    width: 40px;
    background-color: #777;
    border-radius: 50%;
    margin-right: 3%;
}

#container-for-comments{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 2px solid red; */
}

#posts-container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;

}

#posted-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    /* border: 2px solid greenyellow; */
}

#posts-container form {
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    flex-direction: row;
    border-bottom: none;
    margin-top: 5%;
    margin-bottom: -15px;
}

#comment-avtar img{
    height: 30px;
    width: 30px;
}

#comment-writers-name{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 100%;
    align-items: flex-start;
    margin-bottom: 14px;
}

#comment-writers-name-name{
    color: #777;
    font-size: 10px;
}

#posts-container form button{
    width: 20%;
    height: 100%;
    font-size: 70%;
    padding: 2px;
}

#posts-container form input{
    width: 80%;
}