#profile-form{
    background-color: #181818;
    border-right: 4px solid #1ed760;
    border-bottom: 4px solid #1ed760;
    margin: auto;
    /* height: 42em; */
    width: 40%;
    margin-top: 10%;
}